/*
Copyright 2006, 2008, 2009 The Trustees of Princeton University.

For licensing terms, see the license.txt file in the admin directory.

Written by: Serge J. Goldstein, serge@princeton.edu.
            Kelly D. Cole, kellyc@princeton.edu
			Jill Moraca, jmoraca@princeton.edu
		   
*/


/*

       This page presents CSS styles for e-mail sent by WASS.
 
*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
	margin: 0;
	padding: 0;
}
a {
	font-size: 10px;
	text-decoration:underline;
}

table {
	margin-left: 20px;
}
td {
	padding: 2px;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
}