/*
Copyright 2006, 2008, 2009 The Trustees of Princeton University.

For licensing terms, see the license.txt file in the admin directory.

Written by: Serge J. Goldstein, serge@princeton.edu.
            Kelly D. Cole, kellyc@princeton.edu
			Jill Moraca, jmoraca@princeton.edu
		   
*/


/*

       This page presents CSS styles for FAQs.
 
*/
#faqArea {
	width:565px; 
	height: 530px; 
	padding: 0px 0px 0px 55px; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; border-bottom:1px solid #CCCCCC; 
	line-height:15px;
}
#faqArea p {
	margin-bottom:35px;
}
.faq_Heading {
	font-size:18px; font-weight:bold;
}
.faq_Subheading {
	font-size:16px; 
	font-weight:bold; 
	color:#999999;
}
.faq_buttongray {
	font-size:12px; 
	font-weight:bold; 
	color:#FFFFFF; 
	background-color:#666666; 
	padding:0px 5px 0px 5px;
}
.faq1_question{
	font-weight:bold; 
	color:#333399;
}
.faq_popup{
	font-weight:bold; 
	color:#3366CC;
}
.faq_button {
	font-size:10px; 
	font-weight:bold; 
	border-color:#CCCCCC; 
	border-style:outset; 
	border-width:thin; 
	padding:0px 5px 0px 5px;
}
.faq_text_entered {
	font-family: "Times New Roman", Times, serif; 
	font-size:16px;
}
.faq_link {
	color:#3366cc;
	border-bottom-color: #3366cc;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
.faqOption {
	font-size: 9px;
	font-weight: bold;
}


