/* Styles for printing any pages with a calendar */
td {
	width:100%;
}
td.menuTD {
	width:0px;
}
#tblBody {
	border:1px solid #000;
}
#tblMonthView .monthdayofweek {
	border-bottom:3px solid #000;
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
	font-size:150%;
}
.ViewTabSel {
	text-decoration:underline;
}
#tblMonthView  .datefooter {
	color:#C2C5C9;
}
#divMenuArea {
	display:none;
}
#header {
	border-left:1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#pageHeader {
	display:none;
}
#divMainArea {
	margin:10px 10px 0 0;
	min-height:100px;
}
.blockheader, 
.timeheader, 
.apptheader {
	border-left: 1px solid #000000;
	background-color: none;
}
.blockarea {
	border-bottom:none;
}
.block_apptblock {
	border-left: 1px solid #000;
}
#tblDayView td.blockheader,
#tblDayView td.timeheader,
#tblDayView td.apptheader{
	border-bottom: 3px solid #000000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	padding-top:5px;
	padding-bottom:5px;
}
#tblDayView .block_availblock {
	border-bottom: 1px #000000 solid;
	border-top: 1px #000000 solid;
}
#tblDayView .block_availblock td,
#tblDayView .block_noblock td{
	width:20%;
}
#tblDayView .timeheader td,
#tblDayView .time td,
#tblDayView .time_noblock td {
	width:20%;
}
#tblDayView .apptheader td,
#tblDayView .appt, 
#tblDayView appt_noblock td {
	width:60%;
}
.time_availblock, 
.time_noblock, 
.time_unavailblock, 
.time_apptblock {
	padding-top:10px;
	padding-bottom:10px;
}
#content {
	padding-top:45px;
}
.CalHeadTitle{
	font-size:18px;
}
.CalHeadBack, .CalHeadPrint {
	display:none;
}
.icon {
	display:none;
}
#footer {
	border:none;
}
#contentDivider {
	border-left:none;
}