/*
Copyright 2006, 2008, 2009 The Trustees of Princeton University.

For licensing terms, see the license.txt file in the admin directory.

Written by: Serge J. Goldstein, serge@princeton.edu.
            Kelly D. Cole, kellyc@princeton.edu
			Jill Moraca, jmoraca@princeton.edu
		   
*/


/*

       This page presents CSS styles.
 
*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
	margin: 0;
	padding: 0;
}
a {
	font-size: 10px;
	text-decoration:underline;
}


/* Header Styles */
#headerMenu {
	float:left;
	width:auto;
	background:#FFFFFF url("../images/menu_bg.gif") repeat-x bottom;
	line-height:normal;
	position:absolute;top:0px;right:0px;padding-top:0px;background-color:#FFFFFF;
}
#headerMenu ul {
  margin:0;
  padding:10px 0px 0;
  list-style:none;
}
#headerMenu li.tall, #headerMenu li.short {
  float:left;
  background:url("../images/menu_left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  vertical-align: bottom;
}
#headerMenu li.short {
  margin-top:14px;
}
#headerMenu a.tall, #headerMenu a.short {
  float:left;
  display:block;
  background:url("../images/menu_right.gif") no-repeat right top;
  text-decoration:none;
  font-weight:bold;
  color:#ADADAD;
}
#headerMenu a.tall {
  	padding:5px 15px 4px 0px;
	font-size:12px;
}
#headerMenu a.short {
  	padding:5px 15px 4px 6px;
	font-size:10px;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#headerMenu a {float:none;}
/* End IE5-Mac hack */
#headerMenu a:hover {
  color:#3366CC;
}
#headerMenu #current {
  background-image:url("../images/menu_left_on.gif");
}
#headerMenu #current a {
  background-image:url("../images/menu_right_on.gif");
  color:#3366CC;
  padding-bottom:5px;
}

#header {
	position:absolute;
	top: 0px;
	height: 45px;
	text-align: left;
	width: 970px;
}
#header, #header a {
	font-size: 17px;
	color: #000000;
}
#pageHeader {
	position:absolute;
	margin:45px 0px 0px 0px;
	width:970px;
	height:40px;
	background-image:url("../images/titlebkgd.jpg");
	background-repeat:repeat-x;
	border-right:solid #E6E6E6 1px;
	border-bottom:solid #E6E6E6 1px;
	background-color:#E6E6E6; 
}
#content {
	/*position: relative;*/
	padding-top:100px;
	/*background-color: green;*/
}
#headerimage{
	float:left;
	width:52px;
}
#headertitle {
	float:left; 
	margin: 18px 0px 0px 6px;
}
#headertitle a:link, #headertitle a:visited, #headertitle a:hover, #headertitle a:active {
	text-decoration:none;
}
#pageTitle {
	float:left;
	width: 700px;
	color: #3366CC;
	text-align: left;
	font-weight: bold;
	margin:5px 0px 0px 17px;
	_margin:5px 0px 0px 10px;
	vertical-align:middle;
	letter-spacing: -1px;
}
.pageTitle, .pageSubtitle {
}
.pageTitle {
	font-size: 22px;
}
.pageSubtitle {
	font-size: 16px;
}
#welcome {
	float:right;
	/*background-color: red;*/
	margin-left:20px;
	_margin-left:20px;
	margin-right:350px;
	_margin-right:240px;
	padding-top:15px;
	_padding-top:15px;
}
.small {
	font-size: 10px;
	color: #000000;
}
.small a, #welcome a {
	font-size: 10px;
	color: #666666;
	padding-left:10px;
}
#log {
	width: 100%;
	text-align: right;
}
/* ------------- */


/* Form Float */
.floatholder {
margin: 0px 0px 0px 0px;
}

.floatbox {
float: left;
width: 175px;
}

.floatbox p {margin: 0px 0px 0px 0px;}

.floatholder p {margin: 0px 0px 0px 0px;}

.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
  
.clearfix {
display: inline-block;
}  

/* Hack Targets IE Win only \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End Hack */
/* ------------- */	


/* Styles for left menu */
#menu {
	width: 155px;
	padding: 0px 15px 15px 15px;
	margin-top: 10px;
}
#navlist {
	padding: 0px;
	_width: 155px;
	margin-left: 0px;
	background-color: #F4F4F4;
	border: #E6E6E6 solid 5px;
	line-height: 2;

	font-size: 11px;
	color: #999999;
	font-weight: bold;
}
#navlist li {
	list-style: none;
	margin: 0;
	font-size: 11px;
	text-align: center;
	border-top-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-top-width: thin;
	background-color: #F4F4F4;
}
#navlist li.selected {
	background-color: #ffffff;
}

#navlist li a {
	text-decoration: none;
	color: #999999;
	
}
#navlist li.selected a {
	text-decoration: none;
}
#navlist li a:link {
	color: #000000;
}
#navlist li a:visited { color: #000000; }
#navlist li a:hover { color: #3060A8; }
#navlist li a:active { color: #000000;}

#navlist, #navlist li, #navlist div.menu {
	font-size: 10px;
}
/* ------------- */

/* Row of items below the header */ 
#titles {
	width: 970px;
	height: 40px;
	background-image: url("../images/titlebkgd.jpg");
	background-repeat: repeat-x;
	border-right: solid #E6E6E6 1px;
	border-bottom: solid #E6E6E6 1px;
	background-color: #E6E6E6;
}
#screenTitle {
	font-size: 22px;
	color: #3366CC;
	text-align: left;
	width: 300px;
	height: 20px;
	top: 50px;
	position: absolute;
	left: 20px;
	font-weight: bold;
}
/* ------------- */

/* Footer */ 
#footer {
	width:955px;
	_width:965px;
	padding: 15px 0px 15px 15px;
	text-align:left;
	background-color: #E6E6E6;
	margin: 20px 0px 20px 0px;
	font-size: 9px;
	color: #000000;
	border-top:solid #CCCCCC 1px;
}
#footer a {
	font-size: 9px;
	color: #000000;
}
#footer #homelink {
	float: right;
	margin-right:10px;
	margin-top:-16px;
}
#header #homelink {
	float: right;
	margin-right:-520px;
	margin-top:10px;
}
#footnote {
	margin-left:15px; 
	margin-bottom:15px;
	color:#666666;
	font-size: 10px;
}
/* ------------- */

/* Menu | Content Divider */
#contentDivider {
	border-left: solid #000000 1px;
}
/* ------------- */




/* Forms Styles */
form {
	font-size: 10px;
	width: 100%;
	border: none;
}
form #window{
	font-size: 10px;
	width: auto;
	border: none;
}
input, select, textarea {
	margin-left: 10px;
}
fieldset {
	font-size: 10px;
	margin: 10px 0px 20px 0px;
	border: none;
}
fieldset #window{
	font-size: 10px;
	margin: 0px 20px 0px 20px;
	border: none;
}
fieldset br {
	display: none;
}
legend {
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}
fieldset div {
	/*clear: both;*/
	margin: 10px 0px 0px 0px; /* This changes the space between fields - acts like a line-height */
	/*position: relative;*/
}
#window div {
	margin: 0px 0px 0px 0px;
	/*_margin: -2px 0px -2px 0px;*/ /* This changes the space between fields - acts like a line-height */
	/*_line-height: 10px;*/
}
fieldset div span {
	/*display: none;*/
}
fieldset div:hover span {
	font-size: 12px;
	color: #c96;
	background-color: #faf0e6;
	float: right;
}
* html fieldset div span {
	color: #FF6600;
}
label, fieldset div.cr p {
	margin: 0px 0px 0px 0px;
	display: block;
	width: 180px;
	text-align: right;
	float: left;
	cursor: help;
}
.labelLarge {
	margin: 0px 0px 0px 0px;
	display: block;
	width: 180px;
	text-align: right;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.labelButton:link{
	font-size: 10px;
	color: #3366CC;
	text-decoration: underline;
}
a.labelButton {margin-left: 200px;}
.sectionBox {
	border: solid #CCCCCC 5px; 
	background-color:#F2F7FF; 
	margin:10px 5px 0px 10px; 
	padding:10px 0px 10px 0px; 
	_width:754px;
}
.sectionBox2 {
	margin:10px 5px 0px 10px; 
	padding:10px 10px 10px 15px; 
	/*_width:754px;*/
}
.sectionBox3 {
	margin:10px 5px 0px 10px; 
	padding:10px 10px 10px 15px; 
}
.plain{
	font-size: 10px;
	text-indent: 10px;
	font-weight: bold;
}
.plain2{
	font-size: 10px;
	font-weight: bold;
}
fieldset div.cr label {
	text-align: left;
	margin: 0px 0px 0px 180px;
	width: auto;
	float: none;
}
fieldset .chk {
	margin-left: 160px;
}
.mandat {
	color: #000000;
	cursor: help;
}
.mandatr {
	color: #000000;
	cursor: help;
}
.mandatNote {
	padding-top: 16px; 
	padding-bottom: 20px;
}
.buttons {
	text-align: right;
	background-color: #F4F4F4;
	height: 22px;
	_height: 28px;
	padding: 5px 10px 0px 0px;
	margin-left: 20px;
	width: 745px;
	border-right:solid #CCCCCC 1px;
	border-bottom:solid #9b9b9b 1px;
}
.buttonsShort, .buttonsShortMulti {
	text-align: right;
	background-color: #F4F4F4;
	height: 22px;
	_height: 28px;
	vertical-align: bottom;
	padding: 5px 10px 0px 0px;
	_padding: 5px 0px 0px 0px;
	margin: 20px 20px 20px 20px;
	width: auto;
	border-right:solid #CCCCCC 1px;
	border-bottom:solid #9b9b9b 1px;
}
.buttonsShortMulti {
	width: 375px;
}
/*Primary Log In button on Home Page */
.buttonPrimary {
	background:#666;
	border-bottom:1px solid #333;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #333;
	color:#fff;
	cursor:pointer;
	width:110px;
	margin-left:12px;
	font-size: 14px;
	font-weight:bold;
}
.buttonPrimary:hover {
	background:#333333;
	color:#fff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left: 1px solid #00000;
}

#button1, .button1 {
	background:#666;
	border-bottom:1px solid #333;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #333;
	color:#fff;
	cursor:pointer;
	width:90px;
	margin-left:12px;
	font-size: 10px;
	font-weight:bold;
}

#button1:hover, .button1:hover {
	background:#333333;
	color:#fff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left: 1px solid #00000;
}
#button2, .button2{
	background:#666;
	border-bottom:1px solid #333;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #333;
	color:#fff;
	cursor:pointer;
	width:80px;
	font-size: 10px;
	font-weight:bold;
	text-align: center;
}

#button2:hover, .button2:hover {
	background:#333333;
	color:#fff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left: 1px solid #00000;
}
.buttonplain {
	height: 22px;
	vertical-align: bottom;
	padding: 5px 10px 0px 0px;
	margin-left: 20px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	border-top: solid #CCCCCC 1px;
	width:745px;
}

.removed {
	display: none !important;
}
#hiddenfield {
	visibility: hidden;
	display: none;
}
.hiddenfield {
	display: none;
}
#invisiblefield {
	visibility: hidden;
}
.inactivefield {
	color: #CCCCCC;
}
#formdivider {
	display: block;
	width: 755px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 20px;
	font-size: 1px;
}
#formdividerShort {
	display: block;
	width: auto;
	height: 1px;
	background-color: #CCCCCC;
	margin: 10px 20px 10px 20px;
	font-size: 1px;
}
#formdividerSub {
	display: block;
	width: 580px;
	height: 1px;
	margin-left: 100px;
	border-top: dashed #CCCCCC 1px;
}
#removeCalendar, #grantCalendar, #addCalendar, #manageCalendar {
	position: absolute;
	border: solid #666666 1px;
	width: 185px;
	left: 781px;
	font-size: 10px;
	text-align: center;
	background-color: #FFFFFF;
	padding-left:2px;
	padding-right:2px;
}
#removeCalendar {
	top: 335px;
}
/* KDC, 8-3-2008. Removed manageCalendar div from calendarsetup*/
#manageCalendar {
	top: 220px;
}
#grantCalendar {
	top: 210px; /*top: 330px; */ /* KDC, 8-3-2008. Removed manageCalendar div from calendarsetup*/
}
#addCalendar {
	top: 110px;
}
#windowTitle {
	font-size: 22px;
	color: #3366CC;
	text-align: left;
	height: 30px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
}
#authorized {
	margin: 0px 0px 0px 290px;
	}
.authorized {
	margin: 0px 0px 0px 290px;
}
.showhide {
color:#000000;
	/*font-size: 9px;
	color: #3366CC;
	text-decoration: underline;
	margin-left: 10px;*/
}
.showhide:link {
	/*color: #333333;
	text-decoration: none;*/
}
.showhide_on, .showhide_off {
	margin-left: 10px;
	margin-top:2px;
}
.showhide_on:link {
	color:#000000;
}
.showhide_on:hover {
	color:#000000;
}
.showhide_on {
	font-size: 1em;
	color:#000000;
	text-decoration: none;
	font-weight:bold;
	cursor: default;
	border:1px solid #999999;
	padding:2px;
}
.showhide_off {
	font-size: 1em;
	color: #3366CC;
	text-decoration: underline;
	cursor: pointer;
}
.showhide_off:link {
	text-decoration: underline;
}

.labelTitle {
	margin: 0px 0px 0px 20px;
	font-size: 10px;
	font-weight: bold;
}

.descriptionText{
	margin-left:190px;
	margin-top:5px;
	color:#009900;
	width:350px;
}

#URLArea, #URLAreaBlock {
	font-size:10px;
	margin-left:15px;
	padding:8px 5px 8px 5px;
	background-color:#F8F8F8;
	border-top:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}
#URLArea {width:550px;}
#URLAreaBlock {width:730px;}
.URLTitle {float:left}
.URLHelp {float:left; margin-left:5px;}

.URLText{
	/*font-weight:bold;*/
	color:#C60;
	margin:3px 0px 0px 0px;
	padding:3px;
	background-color:#FFF;
	clear:left;
}

.formSectionTitle {
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding:5px;
	width:100%;
	background-color:#CCC;
	_margin-left:20px;
	margin-left:10px;
}

/* ------------- */


/* Help Icon and Link Styles */
.helpBlock {
	float:right;
	margin:10px 30px 10px 0px;
	background:url(../images/Q1.gif) no-repeat;
	width:80px;
	height:16px;
}
.helpBlock a{
	padding-left:20px;	
	font-size: 10px;
	color: #000000;
	text-decoration:underline;
}
.helpBlock a:hover{
	color: #3366CC;
	text-decoration:underline;
}
/*.helpURL {/*margin-left:190px;*/ /*margin-left:10px;}*/

/* ------------- */

/* Results Styles */
#dividerLong {
	width: 100%;
	height: 1px;
	border-top: solid #CCCCCC 1px;
}
#results {
	font-size: 10px;
	margin: 0px 0px 0px 20px;
	line-height: 24px;
}
#results a:link{
	font-size: 10px;
	color:#3366CC;
}
#results a:hover{
	font-size: 10px;
	color:#000000;
}
#results td, #divList td {
	padding: 4px 10px 4px 0px;
	font-size: 10px;
	line-height: 15px;
}
#results td.title{
	width: 30%;
}
#results td.appmt{
	width: 20%;
}
#results td.owner{
	width: 15%;
}
#results td.desc{
	cursor: default;
	width: 35%;
}
#divList td.desc {
	cursor: default;
	width: 400px;
}
.help {
  border-bottom: 1px dotted #333;
  cursor: help;
}
.listBox {
	width: 200px;
}
.menuTD {
	height: 400px;
}
.imgbutton {
	cursor: pointer;
}
.helptext {
	margin: 2px 10px 2px 30px;
}
#divList {
	margin: 10px 15px 20px 10px;
	padding: 0px 0px 15px 0px;
}
#divList #divNoneSched {
	width: 100%;
	text-align: center;
	font-style: italic;
	line-height: 24px;
}
#divList a, #divList a:link, #divList a:visited, #divList a:active {
	color:#3366CC;
	text-decoration:underline;
}
#divList a:hover {
	color:#000000;
	text-decoration:underline;
}
.headingLarge, .sectionBox2 .headingLarge, .sectionBox3 .headingLarge {
	font-size: 18px;
	color:#999;
	margin:0px 0px 5px 0px;
	font-style: italic;
	padding-left:10px;
}
.sectionBox3 td {
	font-size:10px;
	line-height:15px;
}
.sectionBox3 a, .sectionBox3 a:link, .sectionBox3 a:visited, .sectionBox3 a:active {
	color:#3366CC;
	text-decoration:underline;
}
.sectionBox3 a:hover {
	color:#000000;
	text-decoration:underline;
}
.sectionBox3 input {/*margin-right:15px;*/}



/* Styles for Index and Log in pages */
h1 {
	font-size: 20px;
	color: #3366CC;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-weight:bold;
	text-transform:none;
	letter-spacing: -1px;
}
h2 {
	font-size: 12px;
	color: #000000;
	line-height: -6px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active{
	font-size: 12px;
	color: #000000;
	line-height: -6px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-decoration:underline;
}
h2 a:hover{
	color: #3366CC;
	text-decoration:none;
}
.loginTable {
	margin-bottom:90px;
	background:none;
}
#loginImage {
	margin: 5px 31px 0px 31px;
}
#loginOptionArea {
	/*width: 630px;*/
	margin-bottom: 90px;
	clear:both;
}
#loginOptionArea h1{
	margin-bottom:3px;
}
.login_instructions {
	height:60px;
}
.login_actions {
	text-align:right;
	height:55px;
}
.login_actions label{
	float:left;	
	width:40px;
	text-align:right;
}
.login_actions fieldset{
	margin:0 0 5px 0;
	padding:0;
}
.login_actions input#txtEmail {
	width:160px;
}
.login_actions .button1 {
	background:#868686 none repeat scroll 0 0;
	border-color:#999999 #333333 #333333 #999999;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	cursor:pointer;
	font-size:10px;
	font-weight:bold;
	width:90px;
}
#loginOption1 {
	width: 410px; /*takes into account the padding */
	/*min-height:130px;*/
	float:left;
	background-color: #e7e7e7;
	margin-right:15px;
	padding: 10px;
	position:relative;
	border-left: 1px dashed #999;
}
.buttonOption1Area {
	background-color:#9F6;
	text-align:right;
}
.buttonOption1 {
	background:#3366CC;
	border-bottom:1px solid #333;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #333;
	color:#fff;
	cursor:pointer;
	width:110px;
	font-size: 14px;
	font-weight:bold;
	padding:3px;
}
.buttonOption1:hover {
	background:#333333;
}
#button1:hover, .button1:hover {
	background:#333333;
	color:#fff;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left: 1px solid #000000;
}
#loginOption2 {
	width: 235px; /*takes into account the padding and margin */
	/*min-height:130px;*/
	float:left;
	background-color: #F4F4F4;
	padding: 10px 10px 15px 10px;
	position:relative;
	border-left: 1px dashed #999;
}
#loginOption1 .small2 {
	font-size: 11px;
	color: #333;
}
#loginOption2 .small2 {
	font-size: 9px;
	color: #333;
	display:block;
}
#loginOption2 h1 {
	color:#999;
	font-size:16px;
	line-height:20px;
}
.welcomeInfo {
	position: absolute;
	top: 60px;
	left: 150px;
	font-size: 12px;
	font-weight: bold;
	color: #3366CC;
	_width:100%;
}
.small2 {
	font-size: 10px;
	color: #000000;
}
.small2 a {
	font-size: 10px;
	color: #666666;
}
#loginHelpArea {
	font-size: 12px;
	font-weight:bold;
	color: #000000;
	line-height: -6px;
	margin:3px 0 20px 0;
	padding:0 0 0 0;
}
#loginHelpArea a:link, h2 a:visited, h2 a:hover, h2 a:active{
	font-size: 12px;
	color: #000000;
	line-height: -6px;
	margin:0 5px 0 0;
	padding:0 0 0 0;
	text-decoration:underline;
}
#loginHelpArea a:hover{
	color: #3366CC;
	text-decoration:none;
}
.loginError {
	width:400px; 
	padding:20px 0px 20px 0px;
}


/* END Styles for Index and Log in pages */
/* Styles for calendar headers */
.CalHead {
	width: 785px;
	height: 60px;
	margin: 15px 0px 0px 0px;
}
.CalHeadTitle {
	font-size: 12px;
	font-weight:bold;
	margin: 0px 0px 0px 4px;
	float: left;
}
.CalHeadBack {
	font-size: 10px;
	font-weight:bold;
	color: #3366CC;
	margin: 0px 20px 0px 4px;
	float: left;
	text-decoration:none;
}
.CalHeadBack a:link, a:visited, a:hover, a:active {
	color: #3366CC;
	text-decoration:none;
}
.CalHeadPrint, .CalHeadExport {
	font-size: 12px;
	font-weight:bold;
	margin: 0px 0px 0px 0px;
	float: right;
}
.CalHeadExport {
	margin: 0px 20px 0px 20px;
}
.CalHeadExport a {
	font-style: normal;	
}
.CalHeadDate {
	font-size: 15px;
	font-weight:bold;
	color: #3366CC;
	float: left;
	padding: 10px 30px 0px 4px;
	height: 20px;
	vertical-align: text-bottom;
}
.CalHeadDayType {
	font-size: 15px;
	font-style:italic;
	color: #3366CC;
	float: left; 
	padding: 10px 30px 0px 4px;
	height: 20px;
}
.CalHeadTime {
	font-size: 15px;
	font-weight:bold;
	color: #3366CC;
	float: left; 
	padding: 10px 30px 0px 4px;
	height: 20px;
}
.CalHeadView {
	font-size: 15px;
	color: #3366CC;
	float: right; 
	padding: 8px 0px 0px 0px;
	height: 20px;
	/*width: 200px;*/
/*	border-left-color: #E6E6E6;
	border-left-style: solid;
	border-left-width: thin;*/
}
.ViewTab, .ViewTabSel, .ViewTabDisabled {
	text-align: center;
	border-top-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-left-color: #E6E6E6;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-width: medium;
	border-top-width: medium;
	border-right-width: medium;
	border-left-width: thin;
	font-size: 14px;
	font-weight: bold;
	/*display: inline;*/
	float: left;
	padding: 2px 2px 2px 2px;
	height: 20px;
	width: 80px;
}
.ViewTab, .ViewTabSel {
	color: #3366CC;
	cursor: pointer;
}
.ViewTab {
	background-color: #F0F0F0;
}
.ViewTabSel {
	background-color: #FFFFFF;
}
.ViewTabDisabled {
	color: #E6E6E6;
	cursor: default;
	background-color: #F0F0F0;
	font-style: italic;
}
/* END Styles for calendar headers */


/* Help */
.rightHelp {
	width:auto;
	height:500px;
	padding:10px;
	overflow-y:scroll;
	font-size: 12px;
	line-height: 16px;
	border-left:#CCCCCC solid 1px;
}

.leftHelp {
	float:left;
	width:170px;
	margin-left: 20px;
	
}

#helplist {
	display: block;
	width: 140px;
	color: #3366CC;
	text-decoration: none;
}
#helplist ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#helplist li { margin: 0 0 1px 0; }

#helplist a {
	display: block;
	padding-top:7px;
	width: 140px;
	color: #3366CC;
	text-decoration: none;
}
#helplist a:hover {
	color: #000000;
	text-decoration: underline;
}
#helplist ul ul li { margin: 0 0 1px 0; }
#helplist ul ul a {
	display: block;
	padding: 0px 5px 5px 25px;
	width: 100%;
	color: #3366CC;
	text-decoration: none;
}
#helplist ul ul a:hover {
	color: #000000;
	text-decoration: underline;
}
/* END Help */

/* ERRORS and NOTIFICATIONS */
#error {
	font-size: 14px;
	color: #CC0000;
	font-weight: bold;
	margin-bottom: 10px;
	background-color:#FFEAF0;
	border: solid #CC0000 1px;
	_margin-left:10px;
	padding: 5px 2px 5px 30px;
	_width:773px;
	background-image: url("../images/error.gif");
	background-position: 5px 5px;
	background-repeat: no-repeat;
}
#error a {
	font-size: 10px;
	color: #CC0000;
	text-decoration:underline;
	font-weight: normal;
	margin-left:10px;
}
.va-middle {
  vertical-align:middle;
  margin:0 5px 3px 2px;
  _margin:0 5px 1px 2px;
  }
.va-middle {
  vertical-align:middle;
  margin:0 5px 3px 2px;
  _margin:0 5px 1px 2px;
  }
#confirm, .confirm {
	font-size: 14px;
	color: #009900;
	font-weight: bold;
	margin-bottom: 10px;
	background-color:#F2FFEC;
	border: solid #009900 1px;
	_margin-left:10px;
	padding: 5px 2px 5px 30px;
	width:745px;
	background-image: url("../images/confirm.gif");
	background-position: 5px 5px;
	background-repeat: no-repeat;
}				 
#close {width:auto; margin:10px 30px 10px 0px; text-align:right;}
#close a{
	font-size: 10px;
	color: #000000;
	text-decoration:underline;
}
#close a:hover{
	font-size: 10px;
	color: #3366CC;
	text-decoration:underline;
}

/* KDC, 8-4-2008. For browse page */
.alphaLetter {
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	width: 20px;
}
.valueHolder {
	/*height: 15px;*/
	height: auto;
	padding-left: 10px;
	padding-bottom: 4px;
	/*background-color: yellow;*/
}
.valueLink {
	font-size:12px;
}
/* plain blue link */
.smallLink a:link, a.visited, a.active{
	text-decoration:underline;
	color:#3366cc;
}
.smallLink a:hover {
	color:#000000;
}

/* Shared styles for Help, FAQs, and What's New */
#smallWindowIcon {
	margin:0px 30px 0px 0px; 
	border-bottom:1px solid #CCCCCC;
}

#smallWindowTitle {
	position:absolute; 
	top: 13px; 
	left:55px; 
	color:#3366CC; 
	font-size:22px; 
	font-weight:bold;
}
.warningText {
	color: #CC0000;
	cursor: help;
}

/* Did You Know */
.extrainfoArea {
	margin:0px 15px 0px 15px;
	width:155px;
	background-color:#3366CC;
}
.extrainfoArea a {
	color:#3366CC;
	text-decoration:underline;
}
.extrainfoArea a:hover {
	color:#000000;
	text-decoration:underline;
}
.extrainfoArea h4{
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	padding-top:6px;
	margin: 0 0 6px 0;
}
.extrainfoContent, .extrainfoContentDetails {
	padding:6px 3px 9px 3px;
	color:#555;
	font-style:italic;
	font-size:10px;
}
.extrainfoContent {
	background-color:#f2f7ff;
}
.extrainfoContentDetails {
	background-color:#ffffff;
	padding-left: 25px;
}
.extrainfoNav, .extrainfoNavDetails {
	border-top:1px solid #fff;
	padding:3px;
	text-align:right;
}
.extrainfoNav {
	background-color:#f2f7ff;
}
.extrainfoNavDetails {
	background-color:#ffffff;
	padding-right: 20px;
}
.extrainfoNav a, .extrainfoNavDetails a{
	text-decoration:none;
}

/*KDC, 5-26-2011. Based on sixrevisions.com tooltip */
#tt {
 position:absolute;
 display:block;
/* background:url(images/tt_left.gif) top left no-repeat;*/
 border: 1px solid #000000;
 width:400px;
}
 #tttop {
 display:none;
 height:5px;
 margin-left:5px;
 /*background:url(images/tt_top.gif) top right no-repeat;*/
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:14px;
 background-color: #F3F3F3;
 color:#222;
 font-size: 10px;
 }
#ttbot {
display:none;
height:5px;
margin-left:5px;
/*background:url(images/tt_bottom.gif) top right no-repeat;*/
overflow:hidden;
}
.hotspot {
	margin: 7px 10px 4px 0px;
	text-decoration: underline;
}

div.instructions {
	margin: 10px 10px 10px 10px;
	font-weight: inherit;
	font-style: inherit;
}
fieldset.popup {
	margin: 5px 0px 5px 5px; 
}
fieldset.popup label {
	margin: 0px 0px 0px 0px;
	display: block;
	width: 110px;
	text-align: right;
	float: left;
	cursor: help;
}

