.monthheader, .monthcontrol, .dayofweek, .dayempty, .day {
	height: 30px;
	padding: 2px;
}
.monthheader, .monthcontrol {
	background-color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-align: center;
}
.monthheader {
	padding: 2px 20px 2px 20px;
	width: 130px;
}
.monthcontrol {
	cursor: pointer;
}
.dayofweek, .dayempty, .day {
	width: 30px;
	padding: 2px;
/*	text-align: center;*/
}
.dayofweek {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #e7e7e7;
}
.dayempty {
	background-color: #FFFFFF;
	border: 0px;
}
.day {
	color: #3366CC;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #e7e7e7;
}
.day {
	background-color: #FFFFFF;
}

/* classes added onto day for background-color change */
.selected {
	/*background-color: #75C0FF;*/
	border: 1px solid #75C0FF;
}
.noblocks {
	background-color: #FFFFFF;
}
.blocksnoappsnoslots {
	background-color: #FDB063;
}
.blocksnoappsslots {
	background-color: #FDB063;
}
.blocksappsnoslots {
	background-color: #FEFE9C;
}
.blocksappsslots {
	background-color: #FEFE9C;
}
.blocksmyappsslots {
	background-color: #FEFE9C;
}
.blocksmyappsnoslots {
	background-color: #FEFE9C;
}
.unavailable {
	background-color: #D1D3D4;
}


/* divs within the TD .day */
div.dateholder {
	display: block;
	position:relative;
}
div.datenum {
	font-weight: normal;
	position:relative;
	/*background-color: red;*/
	padding: 1px;
}
div.datetext {
	font-weight: normal;
	position:relative;
	/*background-color: green;*/
	text-align: right;
	padding: 1px;
}


